# **LAB 01: TRỰC QUAN HÓA DỮ LIỆU VỚI PYTHON**
#### Môn học: Trực quan hóa dữ liệu
#### Nhóm: 5

#### **A. Thu thập dữ liệu**

Trình bày các yêu cầu trong file pdf hướng dẫn

#### **B. Khám phá dữ liệu**

Import các thư viện

In [1]:
import pandas as pd

Đọc file dữ liệu

In [2]:
df=pd.read_csv("Customers.csv")
df.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [3]:
df.shape[0]==len(df["CustomerID"].unique())

True

In [4]:
df=df.set_index('CustomerID')
df.head()

,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
CustomerID,,,,,,,
1,Male,19,15000,39,Healthcare,1,4
2,Male,21,35000,81,Engineer,3,3
3,Female,20,86000,6,Engineer,1,1
4,Female,23,59000,77,Lawyer,0,2
5,Female,31,38000,40,Entertainment,2,6

Trình bày các yêu cầu trong file pdf hướng dẫn

#### **C. Khám phá mối quan hệ trong dữ liệu**

Dùng chung `df` để đỡ phải sửa khi merge nha

#### **D. Xây dựng mô hình học máy**

Làm khi còn thời gian